$color-primary: #45b175;
$color-secondary: #a3c516;
$color-text: #23454f;
$color-accent: #1ed8c6;
$font-color: #fff;
$bg-color: #f7f9e9;
$form-color: #990099;
$button-color: #3ec03e;
$switch-color: #ff7b50;

* {
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: $bg-color url("../images/pattern.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;

  padding-bottom: 3rem;

  overflow-x: hidden;

  &.attendee {
    & #app-form {
      background: #ff7b50 !important;

      & button[type="submit"] {
        background-color: #990099;
      }
    }

    & .slider::before {
      background-color: #3ec03e;
    }

    & .instagram_handle {
      display: none;
    }
  }
}

button {
  all: unset;
  cursor: pointer;
}

input,
button,
span,
a,
p {
  font-family: "Plus Jakarta Sans", "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
}

h1 {
  font-family: "Space Grotesk";
  color: white;
  font-size: clamp(3rem, 10vw, 10rem);
  margin: 0;
  padding: 0;
}

button,
a,
input {
  outline: none;
}

a {
  text-decoration: none;
}

canvas {
  display: none;
  visibility: hidden;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
  // width: 100%;
  max-width: 550px;
  margin: 0 auto;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
}

.header-a {
  width: 100%;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  margin-top: 5rem;

  img {
    width: 240px;
  }
}

input[type="file"] {
  display: none;
}

.file-upload {
  background: #fff;
  color: $color-text;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 2rem;
  border-radius: 50px;
  cursor: pointer;
  font-family: "Space Grotesk", sans-serif;

  & svg {
    width: 1rem;
    height: auto;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  & input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;

  &:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: $switch-color;
    transition: 0.4s;
  }

  &.round {
    border-radius: 34px;

    &::before {
      border-radius: 50%;
    }
  }
}

input:checked + .slider {
  background-color: #fff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #fff;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;

  &:before {
    border-radius: 50%;
  }
}

#app-form {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background: $form-color;
  padding: 4rem 3rem;
  color: $font-color;
  border-radius: 10px;

  & button[type="submit"],
  & label[type="submit"] {
    background: $button-color;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 2rem;
    border-radius: 50px;
    cursor: pointer;
    font-family: "Space Grotesk", sans-serif;
  }

  &::before {
    content: "";
    position: absolute;
    background: url("../images/flower-background.png");
    background-size: contain;
    background-repeat: no-repeat;
    top: -10%;
    width: 170%;
    height: 170%;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    background: #fff;
    top: -2.5%;
    width: 107%;
    height: 105%;
    border-radius: 10px;
    z-index: -2;
  }
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-weight: 600;
  padding: 1rem 1.5rem;
  border: 1px solid $font-color;
  border-radius: 50px;
}

.text_input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  text-align: center;
  font-size: 1rem;

  & input {
    padding: 0.75rem 1rem;
    width: 100%;
    border-radius: 50px;
    border: none;
    text-align: center;
    font-size: 1rem;

    &::placeholder {
      text-align: center;
      font-style: italic;
    }
  }
}

.event_date {
  display: flex;
  flex-direction: column;
  & .event_month {
    font-size: 3rem !important;
    letter-spacing: 1px;
    font-family: "Bebas Neue Pro";
  }
}

#images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;

  & .gen-image {
    display: flex;
    flex-direction: column;
    background: #fff;
    gap: 1rem;
    padding: 1rem;

    & a {
      font-weight: 600;
      background: #23454f;
      width: fit-content;
      padding: 0.5rem;
      color: #fff;
    }
  }
}

.trackeet {
  width: 12rem;
}

@media screen and (max-width: 600px) {
  .checkbox {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 440px) {
  #app {
    padding: 1.5rem;
  }

  #app-form {
    padding: 2rem 1.5rem;
  }

  .header img {
    width: 180px;
  }

  .checkbox {
    font-size: 0.65rem;
    padding: 0.75rem;
  }

  .text_input {
    font-size: 0.8rem;

    & input {
      font-size: 0.8rem;
    }
  }
}
@media screen and (max-width: 300px) {
}

/* @media screen and (max-width: 300px) {
  .ngdx-ngd {
    width: 5rem;
  }

  .ngdx-liftoff {
    width: 10rem;
  }
}
 */
